.card {
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px; }
  .card header {
    border-bottom: 1px solid #f2f2f2; }
  .card img {
    width: 100%;
    max-height: 200px;
    margin: 0 auto; }

#login-dropdown-list {
  top: 40px;
  left: -150px;
  box-shadow: none;
  border-radius: 0; }

.hero-wrapper {
  padding-top: 40px;
  padding-bottom: 140px; }
  .hero-wrapper h1 {
    font-size: 4em; }
  .hero-wrapper p {
    font-size: 1.5em; }

.text-center {
  text-align: center; }

.push-top {
  margin-top: 20px; }

.push-bottom {
  margin-bottom: 20px; }

.push-left {
  margin-left: 20px; }

.push-right {
  margin-right: 20px; }

.push-top-lg {
  margin-top: 20px; }

.push-bottom-lg {
  margin-bottom: 20px; }

.push-left-lg {
  margin-left: 20px; }

.push-right-lg {
  margin-right: 20px; }

.pad-top {
  padding-top: 20px; }

.pad-bottom {
  padding-bottom: 20px; }

.pad-left {
  padding-left: 20px; }

.pad-right {
  padding-right: 20px; }

.pad-top-sm {
  padding-top: 10px; }

.pad-bottom-sm {
  padding-bottom: 10px; }

.pad-left-sm {
  padding-left: 10px; }

.pad-right-sm {
  padding-right: 10px; }

.pad-x {
  padding-left: 20px;
  padding-right: 20px; }

.pad-y {
  padding-top: 20px;
  padding-bottom: 20px; }

.pad-top-lg {
  padding-top: 40px; }

.pad-bottom-lg {
  padding-bottom: 40px; }

.pad-left-lg {
  padding-left: 40px; }

.pad-right-lg {
  padding-right: 40px; }

.weight-bold {
  font-weight: bold; }

.border-bottom {
  border-bottom: 1px solid #f2f2f2; }
