// Helpers

.text-center 	{ text-align: center; }

.push-top 		{ margin-top: 		20px; }
.push-bottom 	{ margin-bottom: 	20px; }
.push-left 		{ margin-left: 		20px; }
.push-right 	{ margin-right: 	20px; }

.push-top-lg 	{ margin-top: 		20px; }
.push-bottom-lg { margin-bottom: 	20px; }
.push-left-lg 	{ margin-left: 		20px; }
.push-right-lg 	{ margin-right: 	20px; }

.pad-top 		{ padding-top: 		20px; }
.pad-bottom 	{ padding-bottom: 	20px; }
.pad-left 		{ padding-left: 	20px; }
.pad-right 		{ padding-right: 	20px; }

.pad-x			{ padding-left: 20px; padding-right: 20px; }
.pad-y			{ padding-top: 20px; padding-bottom: 20px; }

.pad-top-lg 	{ padding-top: 		40px; }
.pad-bottom-lg 	{ padding-bottom: 	40px; }
.pad-left-lg 	{ padding-left: 	40px; }
.pad-right-lg 	{ padding-right: 	40px; }

.weight-bold 	{ font-weight: 		bold; }